-- Script pour ajouter la colonne 'active' à la table users
ALTER TABLE public.users ADD COLUMN IF NOT EXISTS active boolean NOT NULL DEFAULT true;

-- Mettre à jour tous les utilisateurs existants pour qu'ils soient actifs par défaut
UPDATE public.users SET active = true WHERE active IS NULL;
